canvas {
	background: #95C1C4;
}

h1 {
	color: #111;
	font-family: "Merriweather", serif;
}

h2 {
	font-family: "Merriweather", sans-serif;
}

p,
button {
	color: #111;
	font-family: "Lato", sans-serif;
	font-size: 16px;
}

button {
	cursor: pointer;
	margin: 20px auto;
}

p.big {
	font-size: 22px;
}

.intro-templ,
.instructions-templ,
.practice-templ,
.trial-templ,
.subj-info-templ {
	align-items: center;
	display: flex;
	flex-direction: column;
	max-width: 760px;
	margin: 50px auto;
}

/* start instructions slide styles */
.instructions-templ canvas {
	margin: 30px auto;
}

/* end instructions slide styles */

/* start trial slide styles */
.trial-templ {
	position: relative;
}

.trial-templ aside {
	position: absolute;
	top: 0;
	right: 0;
}

.trial-templ p {
	margin: 15px;
}

.trial-templ .sentence {
	margin: 20px 0;
}

.trial-templ .instructions {
	text-align: center;
	width: auto;
}

.trial-templ .question {
	width: 400px;
}

.trial-templ .question button {
	margin: 30px auto 0 auto;
}

.trial-templ .question p {
	text-align: center;
}

.trial-templ .question input[type="radio"] {
	display: none;
}

.trial-templ .question label {
	cursor: pointer;
	border-radius: 5px;
	padding: 5px 8px;
	margin: 0 5px;
}

.trial-templ .question label:hover {
	background: #8a8a8a;
	color: white;
}

.trial-templ .question #yes:checked ~ label[for="yes"],
.trial-templ .question #no:checked ~ label[for="no"] {
	background: #8a8a8a;
	color: white;
}

/* end trial slide styles */

/* start subj info slide styles */

.subj-info-templ form {
	margin: 30px 0;
}

.subj-info-templ form textarea {
	font-family: "Lato", serif;
	font-size: 14px;
}

/* end subj info slide styles */

/* words */
.spr-word {
	margin: 0 3px;
	position: relative;
	visibility: hidden;
}

/* word underline */
.spr-word:after {
	height: 1px;
	width: 100%;
	background: #111;
	display: inline-block;
	content: "";
	visibility: visible;

	position: absolute;
	bottom: -3px;
	left: 0;
}


.no-display {
	display: none;
}

.display {
	display: block;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}