body {
	font-size: 66,5%;
}

canvas {
	background: #95C1C4;
	background: #7FAEB1;
	background: #72A3A6;
}

h1 {
	color: #111;
	font-family: "Noto Serif", serif;
	font-size: 2.3em;
}

h2 {
	font-family: "Noto Serif", sans-serif;
	font-size: 1.8em;
	margin: 10px 0;
}

p,
button {
	color: #111;
	font-family: "Lato", sans-serif;
	font-size: 1.1em;
}

button {
	cursor: pointer;
	margin: 20px auto;
}

p.big {
	font-size: 1.3em;
	font-weight: bold;
}

.intro-templ,
.instructions-templ,
.practice-templ,
.trial-templ,
.pause-templ,
.subj-info-templ {
	align-items: center;
	display: flex;
	flex-direction: column;
	max-width: 760px;
	margin: 30px auto;
}

.intro-templ .big {
	margin: 60px 0 40px 0;
}

/* start instructions slide styles */
.instructions-templ canvas {
	margin: 30px auto;
}
/* end instructions slide styles */

.practice-templ.trial-templ {
	margin: 30px auto;
}

/* start trial slide styles */
canvas {
	margin: 30px auto;
}

.trial-templ {
	margin: 50px auto;
}

.trial-templ p {
	margin: 15px;
}

.trial-templ .sentence .spr-word {
	margin: 15px 0;
	font-size: 1.3em;
}

.trial-templ .instructions {
	text-align: center;
	width: auto;
}

.trial-templ .question {
	width: 400px;
}

.trial-templ .question button {
	margin: 30px auto 0 auto;
}

.trial-templ .question p {
	text-align: center;
}

.trial-templ .question input[type="radio"] {
	display: none;
}

.trial-templ .question label {
	cursor: pointer;
	border-radius: 5px;
	padding: 5px 8px;
	margin: 0 5px;
}

.trial-templ .question label:hover {
	background: #555;
	color: white;
}

.trial-templ .question #yes:checked ~ label[for="yes"],
.trial-templ .question #no:checked ~ label[for="no"] {
	background: #555;
	color: white;
}

/* end trial slide styles */

/* start subj info slide styles */

.subj-info-templ form {
	margin: 30px 0;
}

.subj-info-templ p {
	display: flex;
	flex-direction: column;
	margin: 25px 0;
}

.subj-info-templ form input, 
.subj-info-templ form select {
	width: 200px;
	max-width: 200px;
}

.subj-info-templ form label {
	margin: 0 10px 0 0;
}

.subj-info-templ form label span {
	font-size: 0.8em;
}

.subj-info-templ form textarea {
	border-radius: 5px;
	border: 1px solid #777;
	font-family: "Lato", serif;
	font-size: 1em;
	padding: 10px 15px;
	margin: 5px 0 0 0;
}

/* end subj info slide styles */

.begin-templ {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	height: 100vh;
}

.trial-templ aside {
	position: absolute;
	top: 15px;
	right: 30px;
}

/* start progress bar */
aside span {
	font-family: "Lato", sans-serif;
	font-size: 0.9em;
}

.progress-bar-container {
	border: 1px solid #555;
	height: 20px;
	width: 220px;
}

.filled {
	background: #555;
	height: 20px;
}
/* end progress bar */

/* start pause template */
.cross-container {
	height: 300px;
	margin: 30px auto;
	width: 500px;

	position: relative;
}

/* the cross is made of code */

.cross {
	display: block;
}

.cross:before,
.cross:after {
	background: #111;
	display: block;
	content: "";
	height: 30px;
	width: 4px;

	position: absolute;
	top: calc(50% + 15px);
	left: 50%;
}

.cross:before {
	transform: rotate(45deg);
}

.cross:after {
	transform: rotate(-45deg);
}

.continue-btn.pause {
	margin-top: 140px;
}

/* end pause template */

/* words */
.spr-word {
	margin: 0 3px;
	position: relative;
	visibility: hidden;
}

/* word underline */
.spr-word:after {
	height: 1px;
	width: 100%;
	background: #111;
	display: inline-block;
	content: "";
	visibility: visible;

	position: absolute;
	bottom: -3px;
	left: 0;
}


.no-display {
	display: none;
}

.display {
	display: block;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}