*/.RData
*/node_modules/
*.out
*.bbl
*.blg
*.log
*.synctex.gz
*.aux
*.synctex.gz
*.toc
*.config
*.input
*.properties
*.question
*.results
*.success
*_invoice.csv
*.Rhistory
*.DS_Store*
*catch_trials.csv
*subject_information.csv
*system.csv
*trials.csv
*mturk.csv
*mturk/
/meta/*
/02pspr2/*.config
/02pspr2/*.input
/02pspr2/*.properties
/02pspr2/*.question
/02pspr2/*.results
/02pspr2/*.success
/02pspr2/results.csv

